**/__pycache__/

env
samples/disk_E.image.001
hashcat/*.induct
hashcat/*.outfiles
hashcat/*.log
hashcat/*.pid
hashcat/*.restore

wordlist_samples

/*.rar
src/app/static/*
!src/app/static/backend_temp_output.txt
!src/app/static/backend_temp_step.txt
!src/app/static/hashcat_temp_output.txt
